/* .ant-table-thead th {
    background-color: #e6eae6 !important;
    color: #1890ff !important;
    font-weight: bold;
    font-size: 18px;
    font-family: ITALIC SERIF;
}

.odd-row {
    background-color: #f5f5f5;
}

.even-row {
    background-color: #fff;
} */

/* .ant-pagination ,.ant-pagination-item-active,.ant-select-selector  {
    background-color: #e6eae6 !important;
} */