/* MyForm.css */


.card-title {
  font-family: ITALIC SERIF;
  font-size: x-large;
  color: #1677ff;
}
.img{
  height:98.2vh;
  width: 900px;
  margin-left: -8px;
  margin-top: -7px;
}

.split-container {
  display: flex;
}

.left-panel,
.right-panel {
  flex: 1; 
}



