/* MyForm.css */


.card-title {
  font-family: ITALIC SERIF;
  font-size: x-large;
  color: #1677ff;
}
.img{
  height:99.5vh;
  width: 900px;
  margin-left: -8px;
  /* margin-top: -7px; */
}

.split-container {
  display: flex;
}

.left-panel,
.right-panel {
  flex: 1; 
}


@media (max-width: 768px) {
  .split-container {
    flex-direction: row; /* Switch to a row layout on smaller screens */
    background-image: url("../../images/image.jpg");
  }

  .left-panel,
  .right-panel {
    flex: initial; /* Reset flex to its default value */
  }

  .left-panel {
    width: 1%; /* Divide the space equally between the panels */
  }

  .right-panel {
    width: 50%; /* Divide the space equally between the panels */
  }

  .img{
    display: none;
    /* margin-top: -7px; */
  }
}




